.logement{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
.logement-name h1{
    font-size: 18px;
}

.logement-rate{
    width: 150px;
    height: auto;
}
.tag-rate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}


.host{
    display: flex;
    width: 120px;
}
.host img{
    width: 50px;
    height: 50px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}

.host p{
    width: 80px;
    text-align: right;
    padding-right: 10px;
}



.logement-caracteristique{
    display: flex;
    justify-content: space-between;
}

.description{
    width: 265px;
}
.equipements{
    width: 265px;
}

@media (width < 600px){
    .fichelogement{
        position: relative;
    }
    .logement-name h1{
        font-size: 24px;
        font-weight: 500;
    }
    .logement p{
        font-size: 14px;
        margin-top: 3%;
    }
    .logement .host{
        width: 35%;
        position: absolute;
        right: 0;
        bottom: 0;
    
    }
    .logement .host p {
        width: 80px;
        text-align: right;
        padding-right: 10px;
    }
    .logement .host img{
        width: 40px;
        height: 40px;
    }
    
    .tag-rate{
        flex-direction: column;
    }
    .tag-rate .logement-rate{
        display: flex;
        justify-content: flex-start;
        width: 50%;
    }
    
    .logement-caracteristique{
        flex-direction: column;
        margin: 10%;
    }
    .logement-caracteristique .description{
        width: 100%;
    }
}