.thumb{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.thumb img{
    width: 100%;
    height: 170px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.thumb h3{
    position: absolute;
    width: 70%;
    bottom: 20%;
    left: 10px;
    color: #FFFFFF;
    font-size: 9px;
}

@media (width < 600px){
    .thumb{
        width: 100%;
        height: 200px;
    }
    .thumb img{
        width: 100%;
        height: 200px;
    }
    .thumb h3{
        bottom: 10%;
        font-size: 12px;
    }
}