.navigation-kasa{
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navigation-kasa img{
    width: 105px;
}
.menu-navigation{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.selected{
    text-decoration: underline;
}
.active{
    border-bottom: 1px solid #FF6060;}