.font-link {
  font-family: 'Montserrat', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: #E5E5E5;
  font-size: 12px;
  font-weight: 500;
  color: #FF6060;
  width: 100%;
  font-family:'Montserrat',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container{
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 90%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (width < 600px){
 #root{
  max-height: 5000px;
  min-height: 100vh;
 }
}