.section1{
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    width: 100%;
    height: 100px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.section1 .masque{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #000000;
    opacity: 0.3;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.section1 img{
    object-fit: cover;
    height: 100px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


@media (width < 600px){
    .imgsize{
       margin-bottom: 35%; 
    }
    .imgsize .masque{
        height: 200px;
    }
    .imgsize img{
        height: 200px;
    }
}